<h3 class="text-center mb-3">Bejelentkezés</h3>

<div class="col12 col-lg-6 offset-lg-3">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="emailField" placeholder="nev@pelda.hu">
        <label for="emailField">E-mail cím</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="passwordField" placeholder="Jelszó">
        <label for="passwordField">Jelszó</label>
    </div>
    <button type="button" class="btn btn-primary mt-3" id="loginBTN" onclick="userLogin()">Bejelentkezés</button>
</div>